* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}
body {
    font-family: 'Roboto Condensed', sans-serif;  
    font-size: 16px;
}
/* nav section */
.header-container {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 150px;
    border-bottom: 0.1rem solid rgb(192, 192, 192);
    position: fixed;
    background-color: white;
    margin-inline: 1rem;
    z-index: 100;
}
h1 {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 3rem;
    font-family: 'Comforter Brush', cursive;
}
.header-subheading {
    display: flex;
    justify-content: center;
    align-content: center;
    width: auto;
    margin-left: 20%;
    font-size: 0.9rem;
    margin-top: 0.2rem;
    color: rgba(0,0,0,0.5);
}

/* nav {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-right: 1rem;
    color: black;
}
ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
nav li {
    display: inline-flex;
    font-size: 1.2rem;
    font-weight: 700;

} */

/* main section */
main {
    margin-inline: 1rem;
    padding-top: 200px;
}
.about-section {
   display: flex;
   flex-wrap: wrap;
   justify-content: center; 
}
.about-section h2 {
    text-align: center;
}
.gallery {
    display: flex;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: static;
    background-size: cover;
    border-radius: 5%;
    box-shadow: 15px 15px 9px 4px #EBEBEB ;
}
