* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}
body {
    font-family: 'Roboto Condensed', sans-serif;  
    font-size: 16px;
    margin: 0 1rem;
}
/* nav section */
.header-container {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 150px;
    width: 100%;
    border-bottom: 0.1rem solid rgb(192, 192, 192);
    background-color: white;
    /* margin-inline: 1rem; */
    z-index: 100;
}
/* .title-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    padding-top: 0.7rem;
   } */
h1 {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 4rem;
    font-family: 'Comforter Brush', cursive;
}
.header-subheading {
    display: flex;
    justify-content: center;
    align-content: center;
    width: auto;
    margin-left: 27%;
    font-size: 1.2rem;
    margin-top: 0.2rem;
    color: rgba(0,0,0,0.5);
}


nav {
    display: flex;
    width: 100%;
    margin-right: 1rem;
    color: black;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
nav li {
    display: inline-flex;
    font-size: 1.2rem;
    font-weight: 700;

}

/* main section */
/* main {
    margin-inline: 1rem;

} */
.about-section {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center; 
   width: 100%;
   padding-top: 50px;
   padding-bottom: 50px;
   border-bottom: 0.1rem solid rgb(192, 192, 192);
}
.about-section h2 {
    text-align: center;
    padding-bottom: 1rem;
}
.gallery {
    display: flex;
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    position: static;
    /* background-size: cover; */
    border-radius: 5%;
    margin-top: 3rem;

}
.about-section p {
    text-align: center;
    padding-top: 3rem;
}

/* portfolio images */
.work-pics-container{
    border-bottom: 0.1rem solid rgb(192, 192, 192);
    padding-bottom: 50px;
}
.work-pics-container h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.work-pics {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-inline: auto;
    justify-content: space-around;
}
.gallery-wide {
    width: auto;
}

/* Email capture/contact form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(192, 192, 192);
    width: 20%;
    margin-inline: auto;
}

@media only screen and (min-width: 410px) { 
   .header-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        margin-inline: 0;    
   } 
   .title-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    padding-top: 0.7rem;
   }
   .nav-container {
        display: block;
        justify-content: center;
        width: 70%;
        color: black;
        position: relative;
        padding-inline: 1rem;
        width: 100%;
    }
    nav li {
        display: inline-flex;
        font-size: 1.2rem;
        font-weight: 700;
        padding-inline: 1rem;
        color:black
    }
    .home {
        color: rgb(192, 192, 192);
    }
    nav li:hover {
        color: rgb(192, 192, 192);
        cursor: pointer;
    }
    .about-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .gallery {
        width: 400px;
        height: auto;
    }
    .gallery-wide {
        width: 600px
    }
    .about-section p {
        margin-inline: 20%;
    }
}